@page
@model ASPPractice.Model.models.Animal

@{
	<html>
	<head>
		<title>Animal</Title>
	</head>
	<body>
	<h1>Animal Page</H1>
	<form method="get">
		<fuildset>
			<legend>get Animal</legend>
			<div>
				<label for="Id">Animal Id:</label>
				<input type="text" name="Id" value=""/>
			</div>
			<div>
				<input type="submit" class="submit" value="submit"/>
			</div>
		</fuildset>
	</form>
	</body>
	</html>

}

