@page

<html>
<head>
	<title>At the Zoo</title>
</head>
<body>
<h1>Welcome to the Zoo!</h1>
<div><img src="~/zooMap.jpg"
          height="992"
          width="1433"
          alt=""/></div>

</body>
</html>


@model ASPPractice.Pages.IndexModel
@{
}
